body{
    background-color: rgb(167, 167, 255);
}

.page-con{
    margin: 1rem 16rem;
    background-color: white;
    padding: 1rem 1.8rem;
    border-radius: 8px;
}

.formula{
    font-size: 4rem;
    margin-left: 8rem;
}

@media screen and (max-width: 800px) {
    body{
        margin: 0;
        padding: 0;
    }
    .page-con{
        margin: 1rem 4rem;
    }
}
